@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .main-btn {
    @apply flex items-center justify-center gap-2 bg-red-600 hover:bg-red-950 text-white font-bold px-8 py-3 rounded-xl transition-all active:scale-95 shadow-lg shadow-blue-200;
  }
  .filter-label {
    @apply text-[11px] font-bold text-gray-400 uppercase tracking-widest ml-1;
  }

  .filter-input {
    @apply px-4 py-2.5 bg-gray-50 border border-gray-200 text-gray-700 
             placeholder-gray-400 rounded-xl focus:bg-white focus:ring-4 
             focus:ring-blue-500/10 focus:border-blue-500 outline-none transition-all;
  }
  .pagination-prev,
  .pagination-next {
    @apply flex items-center justify-center gap-2 px-6 py-2.5 rounded-xl 
           font-bold transition-all active:scale-95 disabled:opacity-30 
           disabled:pointer-events-none disabled:grayscale shadow-sm;
  }

  .pagination-prev {
    @apply bg-white border border-gray-200 text-gray-700 hover:bg-gray-50;
  }

  .pagination-next {
    @apply bg-blue-600 text-white hover:bg-blue-700 shadow-lg shadow-blue-100;
  }
}
